x[Unit]
Description = The simples ruby aplication

[SERVICE]

Enviroment = PATH=
Type=
WorkingDirectory = /home/user/classwork/automatic-deployment/deploy
#ExecStart = bundle exec

[Install]
WantedBy = multi-user.target
