<h1>Хотите добавить заявку?????????????????,</h1>
<form action="/aplication/new" method="post">
    <input type="text" name ="district" placeholder ="district"></br>
    <input type="text" name ="kolRooms" placeholder ="kolRooms"></br>
    <input type="text" name ="kindHouse" placeholder ="kindHouse"></br>
    <button type="submit"  class="btn bg-dark text-light">Добаить Заявку</button>
</form>