<h1>Хотите добавить квартиру??????????????????,</h1>
<form action="/apartament/new" method="post">
    <input type="text" name ="district" placeholder ="district"></br>
    <input type="text" name ="street" placeholder ="street"></br>
    <input type="text" name ="numbHouse" placeholder ="number house"></br>
    <input type="text" name ="footage" placeholder ="footage"></br>
    <input type="text" name ="kolRooms" placeholder ="kol rooms"></br>
    <input type="text" name ="kolFloors" placeholder ="kol floors"></br>
    <input type="text" name ="cost" placeholder ="cost"></br>
    <input type="text" name ="kindHouse" placeholder ="kind house"></br></br>
    
    <button type="submit"  class="btn bg-dark text-light">Добаить</button>
</form>