<!doctype html>
<html lang="ru">
  <head>
    <!-- Bootstrap CSS -->

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Apartements</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
   
    <div clas="container ">
        <a class="navbar-brand btn ml-5" href="/">На главную</a>
        <a class="navbar-brand btn " href="/addApartament">Добавить квартиру</a>
        <a class="navbar-brand btn" href="/addAplication">Добавить заявку</a>
        <%= yield %>
           
    </div

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/bootstrap.bundle.js"></script>
  </body>
</html>
